{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">ACERCA DE MI</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2>LISTADO DE ESTUDIANTES</h2>

<img src="/media/Image/coderhouse.png" alt="" width="500" height="100">
<h3>Soy Ronaldo Luis Beltran Escobar un estudiante de Coderhouse</h3>
<h4 class="text-justify" face=Comic Sans MS>
    Actualmente me encuentro estudiando
    en el instituto de touluse lautrec en
    Peru, voy por mi ultimo ciclo de mi
    carrera y el estar pendiente de mis
    cursos y projecto final, se me a sido
    dificil el practicar python, pero estoy
    agradecido de tener la oportunidad de
    llegar al final en coderhouse.
    
</h4>


{% endblock %}
